.navbar {
    width: 100%;
    padding: 20px 0;
    background: black;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #0ff; /* Neon effect */
    text-shadow: 0px 0px 10px #0ff;
    transform: scale(1.05);
}

.btn-neon {
    padding: 6px 12px;
    background: #0ff;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px #0ff;
    transition: all 0.3s ease-in-out;
}

.btn-neon:hover {
    background: white;
    color: black;
    box-shadow: 0 0 16px #0ff;
}
